---
import { CollectionEntry, getEntries } from "astro:content";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  authors,
  date,
  title,
  subtitle,
  description,
  thumbnail,
  tag,
  teaseralt,
} = Astro.props;

const authorsData = await getEntries(authors);
---

<BaseLayout>
  <div class="mx-auto w-full max-w-screen-lg p-4 py-12">
    <article class="text-midnight-blue">
      <div>
        <h1 class="text-4xl font-bold">{title}</h1>
        <h2 class="text-xl mt-1">{subtitle}</h2>
        <div class="flex gap-4 mt-4">
          {
            authorsData.map((author, i, authorsArr) => {
              return (
                <div class="flex items-center gap-4">
                  <Image
                    src={author.data.image}
                    alt={author.data.name}
                    class="w-12 h-12 rounded-3xl"
                    quality="low"
                  />
                  <div class="flex flex-col">
                    <div class="flex gap-1 items-center font-bold">
                      {author.data.name}
                    </div>
                    <div class="flex gap-1 items-center article-date">
                      {date.toDateString()}
                    </div>
                  </div>
                  <div class="flex flex-col author-social">
                    {author.data.twitter && (
                      <div class="flex gap-1 items-center">
                        <Icon name="mdi:twitter" class="w-5 h-5" />
                        <a
                          href={`https://www.twitter.com/${author.data.twitter}`}
                          target="_blank"
                          class="hover:text-bright-teal"
                        >
                          @{author.data.twitter}
                        </a>{" "}
                      </div>
                    )}
                    {author.data.linkedin && (
                      <div class="flex gap-1 items-center">
                        <Icon name="mdi:linkedin" class="w-5 h-5" />
                        <a
                          href={`https://www.linkedin.com/in/${author.data.linkedin}/`}
                          target="_blank"
                          class="hover:text-bright-teal"
                        >
                          {author.data.linkedin}
                        </a>{" "}
                      </div>
                    )}
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
      {thumbnail && <Image src={thumbnail} alt={title} class="mt-2 w-full" />}
      <div
        class="prose text-midnight-blue prose-headings:text-midnight-blue prose-a:text-bright-teal max-w-full prose-img:w-2/3 prose-img:mx-auto mt-4"
      >
        <slot />
      </div>
    </article>
  </div>
</BaseLayout>
